.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.content{
    display: flex;
}