.header {
    background-color: var(--color-white);
    border-bottom: var(--border-line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respondMax($bp-smallest) {
        flex-wrap: wrap;
        align-content: space-between;
        height: 11rem;
        padding-top: .5rem;
    }

    &__logo {
        height: 3.25rem;
        margin-left: 3rem;
    }
}

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-gray-light-2);
        }
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.75rem;
        width: 2.75rem;
        fill: var(--color-gray-dark-3);
    }

    &__notification {
        font-size: .8rem;
        position: absolute;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        top: .5rem;
        right: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        position: relative;
    }

    &__user-photo {
        height: 3.75rem;
        margin-right: .5rem;
        border-radius: 50%;
    }

    &__username {
        font-size: 1.3rem;
    }

    &__menu {
        position: absolute;
        top: 5rem;
        left: -3rem;
        background-color: var(--color-gray-light-3);
        width: 12rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-inline: 2rem;
        font-size: 1.5rem;
        border-radius: .5rem;
        box-shadow: var(--shadow-dark);
        clip-path: polygon(0 10%, 60% 10%, 70% 0, 80% 10%, 100% 10%,100% 100%,0 100%);
        z-index: 100;
        list-style-type: none;
    }

    &__menu-item:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: var(--color-gray-dark-4);
        transition: color .2s;

        &:hover{
            color: var(--color-primary);
        }
    }

}