.navigation {
    background-color: var(--color-gray-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__list {
        font-size: 1.4rem;
        list-style-type: none;
        margin-top: 3.5rem;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-primary);
            top: 0;
            left: 0;
            height: 100%;
            transform: scaleY(0);
            width: 3px;
            transition: transform .3s, width .4s .3s cubic-bezier(1, 0, 0, 1),
            background-color .1s;
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited {
        color: var(--color-gray-light-1);
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        z-index: 10;
    }

    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

    &__legal {
        color: var(--color-gray-light-4);
        font-size: 1.2rem;
        text-align: center;
        padding: 2.5rem;
    }
}