.btn {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &>* {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding-block: 2rem;
        left: 0;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }
}

.btn--inline {
    color: var(--color-primary);
    font-size: inherit;
    padding-bottom: .2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    display: inline-block;
    transition: color .2s;

    span {
        margin-left: .3rem;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-gray-dark-1);

        span {
            margin-left: .8rem;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}