* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom,var(--color-primary-light),var(--color-primary-dark));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}