.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-gray-light-1);
    border-bottom: var(--border-line);
    font-size: 1.4rem;

    @include respondMax($bp-medium) {
        padding: 3rem;
    }

    @include respondMax($bp-small){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.description {
    background-color: var(--color-white);
    padding: 3rem;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @include respondMax($bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @include respondMax($bp-small){
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend {
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__count {
        margin-right: auto;
    }


    &__friends {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: .3rem solid var(--color-white);
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}

.cta {
    padding-block: 3.5rem;
    text-align: center;

    @include respondMax($bp-medium) {
        padding: 2.5rem 0;
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}